@import "react-split-pane.css";
.mainForm {
  margin-left: 15px;
}
.error {
  color: red;
}
.cWorkplace {
  border: solid 0px blue;
}
.con {
  min-height: 20px;
  min-width: 20px;
  border: solid 1px gray;
  resize: none;
  overflow: visible;
}
.con.selected {
  border-width: 3px;
  border-color: red;
}
.con.parentSelected {
  border-width: 3px;
  border-color: deeppink;
}
.con.root {
  background-image: url("../../assets/images/grid.png");
  background-repeat: repeat;
  min-height: 100vh;
}
.box {
  position: absolute;
  border: 1px dashed gray;
  padding: 0.5rem;
}
.box.selected {
  border-width: 3px;
  border-color: red;
}
.cBox {
  position: absolute;
}
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.split-pane-divider {
  background: #aaa;
}
#left-component {
  width: 80%;
}
#my-divider {
  left: 80%;
  /* Same as left component width */
  width: 5px;
}
#right-component {
  left: 80%;
  /* Same as left component width */
  margin-left: 5px;
  /* Same as divider width */
}
.resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}
/* style for the container */
.tree-view_children {
  margin-left: 16px;
}
.tree-view_children-collapsed {
  height: 0px;
}
.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}
.node.selected {
  background-color: red;
}
.node:hover {
  background-color: #dcf5f3;
  cursor: pointer;
}
.info,
.node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.tree-view_arrow-empty {
  color: yellow;
}
.tab-panel {
  padding: 5px 0px;
}
.ModalBackdrop {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 9999;
}
.ModalBackdrop.hidden {
  display: none;
}
.ModalContent {
  position: absolute;
  margin: 20px;
  padding: 22.5px 30px;
  background-color: white;
  border-radius: 4px;
}
.cPage {
  OVERFLOW: visible;
  WIDTH: 194.76mm;
  HEIGHT: 281.76mm;
  POSITION: relative;
  BACKGROUND-COLOR: transparent;
}
.cPageOuter {
  BORDER-RIGHT: gray 1px solid;
  PADDING-RIGHT: 7.62mm;
  BORDER-TOP: gray 1px solid;
  PADDING-TOP: 7.62mm;
  BORDER-LEFT: gray 1px solid;
  PADDING-LEFT: 7.62mm;
  BORDER-BOTTOM: gray 1px solid;
  PADDING-BOTTOM: 7.62mm;
  WIDTH: 210mm;
  HEIGHT: 297mm;
  BACKGROUND-COLOR: #ffffff;
}
.Tile {
  border: 2px solid black;
  height: 30px;
  width: 120px;
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  background-color: lightcyan;
}
.Tile div {
  position: relative;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-fixed-top-custom {
  padding: 10px 15px 0px 10px;
}
.propertyGrid {
  border: solid 1px #808080;
}
.emptyWorkplace {
  height: 100%;
}
pre {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 10px 20px;
  margin: 20px;
}
.json-key {
  color: brown;
}
.json-value {
  color: navy;
}
.json-string {
  color: olive;
}
input[type='checkbox'] .editor {
  height: 16px;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol:not([start]) {
  counter-reset: item;
}
ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
li ol > li {
  margin: 0;
}
li ol > li:before {
  content: counters(item, ".") " ";
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    display: block;
  }
}
.backface-visibility-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile {
  color: white;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.flipper-container {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 15px;
  display: block;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
}
.flipper-container span {
  color: white;
}
.flipper-container > div.flipper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.flipper-container > div.flipper .front,
.flipper-container > div.flipper .back {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 500ms;
  -moz-transition: -webkit-transform ease 500ms;
  -ms-transition: -webkit-transform ease 500ms;
  -o-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  -webkit-transition: transform ease 500ms;
  -moz-transition: transform ease 500ms;
  -ms-transition: transform ease 500ms;
  -o-transition: transform ease 500ms;
  transition: transform ease 500ms;
}
.flipper-container > div.flipper .front {
  z-index: 2;
  background: #19489E;
  /* front tile styles go here! */
}
.flipper-container > div.flipper .back {
  background: #9E1919;
  /* back tile styles go here! */
}
.flipper-container.horizontal .front {
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipper-container.horizontal .back {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flipper-container.horizontal div.flipper.flipped .front {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipper-container.horizontal div.flipper.flipped .back {
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipper-container.vertical .front {
  -o-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.flipper-container.vertical .back {
  -o-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.flipper-container.vertical div.flipper.flipped .front {
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.flipper-container.vertical div.flipper.flipped .back {
  -o-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #cccccc;
  border-color: #d9d9d9 #cccccc #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: white;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 0;
}
.Select-clear:hover {
  color: #c0392b;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #0088cc;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #0088cc;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
