@import '../../../node_modules/css-utils/index'

itemHeight = 22px
nestingWidth = 10px

@import '../../../node_modules/property-grid/style/utils.styl'
@import '../../../node_modules/property-grid/style/index.structure.styl'
@import '../../../node_modules/property-grid/style/index.design.styl'
