@import '../../../node_modules/css-utils/index'

itemHeight = 24px
nestingWidth = 10px
/*nameBgColor = #FFFFFF*/
nameColor = darken(#428bca, 6.5%)
borderColor = darken(#428bca, 6.5%)


@import '../../../node_modules/property-grid/style/utils.styl'
@import '../../../node_modules/property-grid/style/index.structure.styl'
@import '../../../node_modules/property-grid/style/index.design.styl'


