.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex-flow-row,
.u-flex-row {
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  flex-direction: row;
  box-orient: horizontal;
}
.u-flex-flow-column,
.u-flex-column {
  flex-direction: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  box-orient: vertical;
}
.u-flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex-centered {
  box-align: center;
  box-pack: center;
  align-items: center;
}
.u-inflexible,
.u-flex-0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -ms-flex: 0;
  -webkit-flex: 0;
  flex: 0;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-box-flex: 4;
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-5 {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-6 {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -ms-box-flex: 6;
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-7 {
  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  -ms-box-flex: 7;
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-8 {
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  -ms-box-flex: 8;
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-9 {
  -webkit-box-flex: 9;
  -moz-box-flex: 9;
  -ms-box-flex: 9;
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-10 {
  -webkit-box-flex: 10;
  -moz-box-flex: 10;
  -ms-box-flex: 10;
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-bold {
  font-weight: bold;
}
.u-nowrap {
  white-space: nowrap;
}
.u-nonav,
.u-unselectable {
  touch-callout: none;
}
.u-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.u-height-auto {
  height: auto;
}
.u-width-auto {
  width: auto;
}
.u-height-fill,
.u-fill,
html.u-app,
html.u-app body {
  height: 100%;
}
.u-width-fill,
.u-fill,
html.u-app,
html.u-app body {
  width: 100%;
}
.u-margin-auto {
  margin: auto;
}
.u-border-box {
  box-sizing: border-box;
}
.u-border-box * {
  box-sizing: border-box;
}
.u-ellipsis,
.property-grid .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}
.u-absolute-centering {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
html.u-app,
html.u-app body {
  overflow: hidden;
  box-sizing: border-box;
}
html.u-app *,
html.u-app body * {
  box-sizing: border-box;
}
.property-grid {
  overflow: auto;
  box-sizing: border-box;
}
.property-grid * {
  box-sizing: border-box;
}
.property-grid .body {
  width: 100%;
  height: 100%;
}
.property-grid .property {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.property-grid .property .name,
.property-grid .property .value {
  display: table-cell;
}
.property-grid .property .value .editor {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
.property-grid .property-composite.collapsed .children {
  display: none;
}
.property-grid .expander {
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
}
.property-grid .expander.collapsed {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #808080;
}
.property-grid .expander.expanded {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #808080;
}
.property-grid textarea,
.property-grid input,
.property-grid select {
  outline: none;
}
.property-grid .property .name,
.property-grid .property .value {
  height: 24px;
  vertical-align: middle;
  border-top: 1px solid #808080;
}
.property-grid .root > .property:first-child .name,
.property-grid .root > .property:first-child .value {
  border-top: 0px;
}
.property-grid .name {
  background: #fff;
  color: #e40a5d;
  white-space: nowrap;
}
.property-grid .value {
  border-left: 1px solid #808080;
}
.property-grid .value .editor[readonly] {
  background: #d9d9d9;
}
.property-grid .name,
.property-grid .editor {
  padding-left: 10px;
  padding-right: 10px;
}
.property-grid .editor {
  border: 0px;
}
.property-grid .property.depth-1 .name {
  padding-left: 40px;
}
.property-grid .property-composite.depth-1 .name {
  padding-left: 25px;
}
.property-grid .property.depth-2 .name {
  padding-left: 55px;
}
.property-grid .property-composite.depth-2 .name {
  padding-left: 40px;
}
.property-grid .property.depth-3 .name {
  padding-left: 70px;
}
.property-grid .property-composite.depth-3 .name {
  padding-left: 55px;
}
.property-grid .property.depth-4 .name {
  padding-left: 85px;
}
.property-grid .property-composite.depth-4 .name {
  padding-left: 70px;
}
.property-grid .property.depth-5 .name {
  padding-left: 100px;
}
.property-grid .property-composite.depth-5 .name {
  padding-left: 85px;
}
.property-grid .property.depth-6 .name {
  padding-left: 115px;
}
.property-grid .property-composite.depth-6 .name {
  padding-left: 100px;
}
.property-grid .property.depth-7 .name {
  padding-left: 130px;
}
.property-grid .property-composite.depth-7 .name {
  padding-left: 115px;
}
.property-grid .property.depth-8 .name {
  padding-left: 145px;
}
.property-grid .property-composite.depth-8 .name {
  padding-left: 130px;
}
.property-grid .property.depth-9 .name {
  padding-left: 160px;
}
.property-grid .property-composite.depth-9 .name {
  padding-left: 145px;
}
.property-grid .property.depth-10 .name {
  padding-left: 175px;
}
.property-grid .property-composite.depth-10 .name {
  padding-left: 160px;
}
